body {
	color: #1A181B;
	font-family: 'Lora', serif;
	background-color: #FCFAFA;
	margin: 0;
	text-align: center;
}

a{
	text-decoration: none;
  	transition: .3s;
}

a:visited{
	color: inherit;
}

.menu{
	background-color: #9A7AA0;
	overflow: hidden;
	font-weight: bold;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: #FCFAFA;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #FCFAFA;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.menu .icon {
  display: none;
}

.header {
	font-family: 'Permanent Marker', cursive;
}

.social-media{
	text-align: center;
	padding: 25px 0;
}

.social-media a{
	color: #9A7AA0;
}
.social-media a:hover{
  color: #32213A;
}

#intro-pic{
	height: 250px;
	object-fit: cover;
	position: relative;
	margin-top: 20px;
}

#intro-grid{
	text-align: left;
	color: #1b262c;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	padding: 20px 200px 60px;
}

.portfolio{
	padding: 0 150px 0;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  	grid-gap: 20px;
  	padding: 40px 0 20px;
  }

.circle {
	width: 220px;
	height:220px;
	border-radius: 50%;
	object-fit: cover;
	opacity: 0.7;
}

.circle:hover {
	opacity: 1;
}

.centered {
  padding-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cv {
	padding: 0px 300px 40px;
}
#cv h2{
	margin-bottom: 30px;
}
#contact-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	padding: 20px 300px 50px;
}
#contact{
	text-align: center;
	padding: 15px 300px 100px;
}
#contact-pic{
	width: auto;
	height: 210px;
	object-fit: cover;
}
#blog{
	padding: 0px 300px 40px;
}
#footer {
	background-color: #32213A;
	color:#FCF7F3;
	bottom: 0;
  	width: 100%;
  	padding: 10px 0;
}


/*LET'S MAKE IT RESPONSIVE!*/

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
  .header h2{
  	display: none;
  }
  .social-media{
  	padding: 3% 0 5%;
  }
  #intro-grid{
  	grid-template-columns: unset;
  	grid-gap: 0;
	padding: 5% 0 3%;
  }
  #intro-pic{
  	width: 100%;
  	height: auto;
  	margin: 0;
  	padding: 0 0 3%;
  }
  #blurb{
	padding: 0 8% 0;
	text-align: center;
  }
  .portfolio{
  	padding: 0 10% 10%;
  }
  	.cards{
		grid-template-columns: unset;
	  	grid-gap: 0.5%;
	  	padding: 0 0 5%;	  }
	.circle {
		width: 100%;
		height: auto;
		border-radius: 0;
		object-fit: cover;
		opacity: 1;
	}
	.centered {
	  padding-top: 0;
	}
	#cv {
		padding: 0 10% 10%;
	}
	#cv h2{
		margin-bottom: 1%;
	}
	#contact{
	padding: 0 8% 30%;
	text-align: center;
	}

	#contact-grid{
  	grid-template-columns: unset;
  	grid-gap: 0;
	padding: 5% 0 3%;
  	}
  	#contact-pic{
 	display: none;
  	}

	#blog{
		padding: 0 10% 10%;
	}
	#footer{
		padding: 1% 0;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
